<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.foodItems && locals.restaurantId){ %>
        <form action="/addToCart/<%= restaurantId %>" method="POST">
            <% foodItems.forEach(Item => { %>
                <label for="Quantity"><%= Item.name %></label>
                <input type="number" name="<%=Item.name%>:<%=Item.price %>"" step="1" min="0" value="0">
            <% }) %>
            <button type="submit">Get Total</button>
        </form>


    <% }else{ %>
      
      <h1>Kuch to gadbad hai daya</h1>   
        <% } %>
</body>
</html>