<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.orders && locals.orders.length > 0) { %>
        <h1>Order List</h1>

        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Food Name</th>
                    <th>User Email</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr>
                        <td><%= order.order_id %></td>
                        <td><%= order.food_name %></td>
                        <td><%= order.user_email %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h2>No orders found</h2>
    <% } %>
</body>
</html>